# TP 1 — Les Types de Variables

**Objectif :** Comprendre `int`, `float`, `str` et la fonction `type()`

---

## 1. Les entiers (`int`)

In [ ]:
age = 25                   # on crée une variable entière
print(age)                  # affiche : 25

In [ ]:
type(age)                  # vérifie le type → int

In [ ]:
nb_poissons = 120          # nombre de poissons comptés
nb_sites = 4               # nombre de sites d'étude

In [ ]:
total = nb_poissons + 30   # addition → 150
print(total)

In [ ]:
double = nb_sites * 2      # multiplication → 8
print(double)

In [ ]:
par_site = nb_poissons // nb_sites   # division entière → 30
print(par_site)

In [ ]:
reste = nb_poissons % nb_sites       # reste de la division → 0
print(reste)

In [ ]:
carre = 5 ** 2             # puissance → 25
print(carre)

---
## 2. Les décimaux (`float`)

In [ ]:
temperature = 18.5         # nombre à virgule
print(temperature)

In [ ]:
type(temperature)          # vérifie le type → float

In [ ]:
pH = 8.2                   # pH de l'eau de mer
salinite = 37.5            # salinité en PSU

In [ ]:
somme = pH + salinite      # addition de floats → 45.7
print(somme)

In [ ]:
moyenne = (18.5 + 20.1 + 19.3) / 3   # calcul de moyenne
print(moyenne)

In [ ]:
# Attention : int + float → float
x = 10 + 2.5              # résultat = 12.5 (float)
print(x, type(x))

In [ ]:
print(round(moyenne, 2))   # arrondir à 2 décimales

---
## 3. Les chaînes de caractères (`str`)

In [ ]:
nom = "Posidonia"          # guillemets doubles
print(nom)

In [ ]:
espece = 'oceanica'        # guillemets simples (pareil)
print(espece)

In [ ]:
type(nom)                  # vérifie le type → str

In [ ]:
nom_complet = nom + " " + espece   # concaténation
print(nom_complet)                   # → Posidonia oceanica

In [ ]:
print(len(nom_complet))    # longueur de la chaîne → 19

In [ ]:
print(nom_complet.upper()) # tout en majuscules
print(nom_complet.lower()) # tout en minuscules

In [ ]:
# f-string : insérer des variables dans du texte
print(f"L'espèce {nom_complet} vit à {temperature}°C")

---
## 4. Conversions entre types

In [ ]:
x = "42"                   # c'est un texte, pas un nombre !
print(type(x))             # → str

In [ ]:
x = int("42")              # convertir texte → entier
print(x + 10)              # → 52

In [ ]:
y = float("18.5")          # convertir texte → décimal
print(y + 1)               # → 19.5

In [ ]:
z = str(100)               # convertir nombre → texte
print("Il y a " + z + " espèces")   # concaténation OK

In [ ]:
n = int(7.9)               # float → int (tronque, pas d'arrondi !)
print(n)                   # → 7

---
## ✏️ Exercices

**Exercice 1 :** Créez une variable `nb_oeufs = 12` et une variable `nb_nids = 3`. Calculez le nombre moyen d'œufs par nid.

In [ ]:
# Votre code ici

**Exercice 2 :** Créez deux variables `genre = "Diplodus"` et `espece = "sargus"`. Affichez le nom complet avec un espace entre les deux.

In [ ]:
# Votre code ici

**Exercice 3 :** La variable `t = "23.7"` est du texte. Convertissez-la en `float` puis ajoutez 2 degrés. Affichez le résultat.

In [ ]:
# Votre code ici

**Exercice 4 :** Quel est le type de chaque valeur ? Prédisez puis vérifiez avec `type()` :
- `100`
- `100.0`
- `"100"`
- `True`

In [ ]:
# Votre code ici

**Exercice 5 :** Calculez et affichez avec un f-string : *"La température moyenne est de X.XX °C"* à partir de 3 mesures : `19.2`, `21.5`, `20.8`.

In [ ]:
# Votre code ici